<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>restman</display-name>
 <security-constraint>
 	<web-resource-collection>
 		<web-resource-name>test</web-resource-name>
 		<url-pattern>/userSpace/*</url-pattern>
 	</web-resource-collection>
 	<auth-constraint>
 		<role-name>USER</role-name>
 	</auth-constraint>
 </security-constraint>
  <security-constraint>
 	<web-resource-collection>
 		<web-resource-name>restaurant</web-resource-name>
 		<url-pattern>/restSpace/*</url-pattern>
 	</web-resource-collection>
 	<auth-constraint>
 		<role-name>MANAGER</role-name>
 	</auth-constraint>
 </security-constraint>
 <login-config>
  	<auth-method>BASIC</auth-method>
<!--  	<form-login-config> -->
<!-- 		<form-login-page>/login.jsf</form-login-page> -->
<!-- 		<form-error-page>/index.jsf</form-error-page> -->
<!-- 	</form-login-config> -->
 </login-config>
</web-app>
